body {
	background-image: url("../images/background.jpg");
	background-size: cover;
}

.login {
  background: gainsboro;
  border: 25px;
  border-radius: 30px;
  height: 250px;
  margin: 200px auto 0;
  width: 380px;
}

input[type="password"], input[type="text"] {
  border-radius: 35px;
  height: 50px;
  margin: 25px 0 0 50px;
  padding-left: 50px;
  width: 220px;
}

input[type="button"] {
  width: 120px;
  height: 30px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 35px 0 0 120px;
  cursor: pointer;  
  background-color: teal;
  border-top-left-radius: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px teal, 0px 5px 0px 0px teal;
}


table {
    margin-left: 23%;
    margin-bottom: 23%;
    width: 50%;
    border-radius: 1%;
    background-image: url("../images/tableBackground.jpg");
}
td {
    width: 20%;
    position: relative;
    
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
td .squares{
    position: absolute;
    margin: 2%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    border-radius: 12%;
}
.content{
    width: 100%;
    height: 100%;
    border-radius: 12%;
    cursor: pointer;
    background-color: antiquewhite;
    position: relative;
}
.outside, .inside {
    border-radius: 12%;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
}

.outside {
    background: url("../images/cardback.jpg") 1% no-repeat;
    background-color: antiquewhite;
    box-shadow: 0 0 0 1px #787a80; 
}

.inside {
    background-color: #f8fafc;
    box-shadow: 0 0 0 1px #787a80;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/* some transforms for flipped cards */
.squares.flipped .outside {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.squares.flipped .inside {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* some transitions for correct guesses - only needs to happen on card inside */
.squares.flipped.correct .inside {
  background-color: antiquewhite;
}

