body {
	background-image:url("../images/background.jpg");
	background-size: cover;
}

.login {
  background: gainsboro;
  border: 25px;
  border-radius: 30px;
  height: 250px;
  margin: 200px auto 0;
  width: 380px;
}

input[type="password"], input[type="text"] {
  border-radius: 35px;
  height: 50px;
  margin: 25px 0 0 50px;
  padding-left: 50px;
  width: 220px;
}

input[type="button"] {
  width: 120px;
  height: 30px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 35px 0 0 120px;
  cursor: pointer;  
  background-color: teal;
  border-top-left-radius: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px teal, 0px 5px 0px 0px teal
}